*
{
    margin: 0;
}
.container{
    width: 150px;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: greenyellow;
    
}
.container p{
    padding: 5px;
    font-size: 20px;

}
.container p:hover, button:hover{
    background: grey;
    cursor: pointer;
}
button{
    background-color: black;
    color: greenyellow;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
#close{
    position: absolute;
    left: 155px ;
}
.hide{
    display: none;
}